.header {
    background-color: #f2f2f0;
    color: #1a2e52;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.PBM-logo {
    height: 100px;
    width: auto;
    flex-shrink: 1;
    margin: 0px 3%;
    object-fit: contain;
}