.photo-banner {
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f000;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .carousel-container {
        height: 250px;
    }
}
